<% layout("/layouts/boilerplate.ejs")-%>



<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
<form method="post" action="/listings/<%= data._id %>?_method=put" enctype="multipart/form-data"  class="needs-validation" novalidate  >
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" id="title" class="form-control" name="listing[title]" value="<%= data.title %>" required >
    <div class="valid-feedback">Title looks good</div>
    <div class="invalid-feedback">Enter a valid title</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <input type="text" id="description" class="form-control" name="listing[description]" value="<%= data.description %>" required  > 
    <div class="invalid-feedback">Description  must be shorter</div>
  </div>
    

    <div class="row">
      <div class="mb-3 col-4">
        <label for="price" class="form-label">Price:</label>
        <input type="number" id="price" class="form-control" name="listing[price]" value="<%= data.price %>" required >
        <div class="invalid-feedback">Enter a valid price</div>
      </div>
           
      <div class="mb-3 col-8" >
        <label for="country" class="form-label">Country:</label>
        <input type="text" id="country" class="form-control" name="listing[country]" value="<%= data.country %>" required >
        <div class="invalid-feedback">Enter a  valid country </div>
      </div>
    </div>
   


  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input type="text" id="location" class="form-control" name="listing[location]" value="<%= data.location %>" required >
    <div class="invalid-feedback">Enter a valid location</div>
  </div>
    
  <div class="mb-3">
    <img src="<%=  originalImage%>">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image:</label>
    <input type="file"  class="form-control" name="image" >
    <div class="invalid-feedback">Upload an image</div>
  </div>

  <button type="submit" class="btn btn-dark edit-btn mt-3">Submit</button>
</form>
<br>
  </div>
</div>
  

